# Floral Data Processing

# **Imports**

In [1]:
#Numpy
import numpy as np
from numpy import median

#Pandas
import pandas as pd

#Seaborn
import seaborn as sns

#matplotlib
import matplotlib.pyplot as plt
import plotly

#Sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

#Warnings
import warnings
warnings.filterwarnings("ignore")

# **Loading Data**

In [2]:
#Loading in the data from the previous notebook
GDS = pd.read_csv('GDS')

In [3]:
GDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49376 entries, 0 to 49375
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order #              49376 non-null  object
 1   Transaction Type     49376 non-null  object
 2   Order Time           49376 non-null  object
 3   Order Date           49376 non-null  object
 4   Delivery Date        49355 non-null  object
 5   Sender               30039 non-null  object
 6   Recipient            23570 non-null  object
 7   Product Total        49369 non-null  object
 8   Delivery             49364 non-null  object
 9   Nontaxable Delivery  49364 non-null  object
 10  Wire Out Fee         49250 non-null  object
 11  Discount             49250 non-null  object
 12  Gift Cards           49250 non-null  object
 13  Tax                  49364 non-null  object
 14  Tips                 49250 non-null  object
 15  Grand Total          49376 non-null  object
 16  Payment Method       49376 non-null  object
 17  Order Type           49059 non-null  object
 18  Order Method         49250 non-null  object
dtypes: object(19)
memory usage: 7.2+ MB

In [4]:
#Preview of data
GDS.head()

,Order #,Transaction Type,Order Time,Order Date,Delivery Date,Sender,Recipient,Product Total,Delivery,Nontaxable Delivery,Wire Out Fee,Discount,Gift Cards,Tax,Tips,Grand Total,Payment Method,Order Type,Order Method
0,100017453,Sale,03:28:16PM Sat,"Dec 29, 2018","Dec 29, 2018",Candyce Williams Glaser,NaN,$815.00,$0.00,$0.00,$0.00,$0.00,$0.00,$79.46,$0.00,$894.46,Credit Card,Taken,Phone
1,100017452,Sale,03:16:50PM Sat,"Dec 29, 2018","Dec 29, 2018",NaN,NaN,$249.90,$0.00,$0.00,$0.00,-$124.96,$0.00,$12.19,$0.00,$137.13,Credit Card,Taken,Walk-In
2,100017451,Sale,02:58:53PM Sat,"Dec 29, 2018","Dec 29, 2018",NaN,NaN,$24.95,$0.00,$0.00,$0.00,$0.00,$0.00,$2.43,$0.00,$27.38,Credit Card,Taken,Walk-In
3,100017450,Sale,02:54:45PM Sat,"Dec 29, 2018","Dec 29, 2018",Tracie Hamilton,NaN,$635.00,$0.00,$0.00,$0.00,$0.00,$0.00,$61.91,$0.00,$696.91,Credit Card,Taken,Phone
4,100017202,Sale,02:48:15PM Sat,"Dec 29, 2018","Dec 23, 2018",Candyce Williams Glaser,Candyce Williams Glaser,$702.00,$0.00,$25.00,$0.00,$0.00,$0.00,$68.45,$0.00,$795.45,Credit Card,Delivery,Walk-In

# **Data Exploration**

In [5]:
#Print statement containing number of total missing values
print("There are", GDS.isna().sum().sum(), "missing values.")

There are 46154 missing values.

In [6]:
#Looking at missing calues for each column
GDS.isna().sum()

Order #                    0
Transaction Type           0
Order Time                 0
Order Date                 0
Delivery Date             21
Sender                 19337
Recipient              25806
Product Total              7
Delivery                  12
Nontaxable Delivery       12
Wire Out Fee             126
Discount                 126
Gift Cards               126
Tax                       12
Tips                     126
Grand Total                0
Payment Method             0
Order Type               317
Order Method             126
dtype: int64

In [7]:
#Looking at data types and null values
GDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49376 entries, 0 to 49375
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order #              49376 non-null  object
 1   Transaction Type     49376 non-null  object
 2   Order Time           49376 non-null  object
 3   Order Date           49376 non-null  object
 4   Delivery Date        49355 non-null  object
 5   Sender               30039 non-null  object
 6   Recipient            23570 non-null  object
 7   Product Total        49369 non-null  object
 8   Delivery             49364 non-null  object
 9   Nontaxable Delivery  49364 non-null  object
 10  Wire Out Fee         49250 non-null  object
 11  Discount             49250 non-null  object
 12  Gift Cards           49250 non-null  object
 13  Tax                  49364 non-null  object
 14  Tips                 49250 non-null  object
 15  Grand Total          49376 non-null  object
 16  Payment Method       49376 non-null  object
 17  Order Type           49059 non-null  object
 18  Order Method         49250 non-null  object
dtypes: object(19)
memory usage: 7.2+ MB

# **Data Cleaning**

### **Dropping unnecessary columns**

In [8]:
#Dropping unecessarry columns
#These columns do not contribute any meaningful data to the insight I am after
columns_to_drop = ['Sender','Recipient']
df = GDS.drop(columns_to_drop, axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49376 entries, 0 to 49375
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order #              49376 non-null  object
 1   Transaction Type     49376 non-null  object
 2   Order Time           49376 non-null  object
 3   Order Date           49376 non-null  object
 4   Delivery Date        49355 non-null  object
 5   Product Total        49369 non-null  object
 6   Delivery             49364 non-null  object
 7   Nontaxable Delivery  49364 non-null  object
 8   Wire Out Fee         49250 non-null  object
 9   Discount             49250 non-null  object
 10  Gift Cards           49250 non-null  object
 11  Tax                  49364 non-null  object
 12  Tips                 49250 non-null  object
 13  Grand Total          49376 non-null  object
 14  Payment Method       49376 non-null  object
 15  Order Type           49059 non-null  object
 16  Order Method         49250 non-null  object
dtypes: object(17)
memory usage: 6.4+ MB

### **Changing Data Types**

In [9]:
#changing data types
def change_column_datatype(df, column_dict):
    """
    Change the data type of columns in a Pandas DataFrame.

    Parameters:
    - df: Pandas DataFrame object.
    - column_dict: Dictionary specifying column names and their desired data types.
                   Key: column name (string).
                   Value: desired data type (string).
                   Example: {'column1': 'int', 'column2': 'float', 'column3': 'datetime'}
    Returns:
    - df: Updated Pandas DataFrame with changed data types.
    """
    try:
        for column, datatype in column_dict.items():
            if datatype == 'float':
                df[column] = df[column].str.replace('$', '').str.replace(',', '').str.replace('()', '')
                df[column] = df[column].apply(lambda x: float(x.replace('(', '').replace(')', '')) if isinstance(x, str) else x)
                df[column] = df[column].replace([np.inf, -np.inf], np.nan).astype(float)
            elif datatype == 'int':
                df[column] = df[column].replace(['NA', 'inf', '-inf'], np.nan).astype(float).astype(pd.Int64Dtype())
            elif datatype == 'datetime':
                df[column] = pd.to_datetime(df[column], errors='coerce')
            else:
                df[column] = df[column].astype(datatype)
        return df
    except KeyError as e:
        print(f"Error: Column '{e.args[0]}' does not exist in the DataFrame.")
    except Exception as e:
        print(f"Error: {str(e)}")

In [11]:
# Print DataFrame Before Conversion
print("Before conversion:")
print(df.dtypes)
print(df)

# Define the desired data types for columns
column_dict = {
    'Product Total': 'float',
    'Nontaxable Delivery': 'float',
    'Wire Out Fee': 'float',
    'Gift Cards': 'float',
    'Order Time': 'datetime',
    'Order Date': 'datetime',
    'Delivery Zip': 'int',
}

# Call the function to change data types
df = change_column_datatype(df, column_dict)

# Print DataFrame After Conversion
print("\nAfter conversion:")
print(df.dtypes)
print(df)

Before conversion:

AttributeError: 'NoneType' object has no attribute 'dtypes'

### **Unique values**

In [ ]:
# Check for unique values to make sure they all make sense
unique_counts = df.nunique()
print(unique_counts)

In [ ]:
df.head()

### **Replace nans function**

- The dataset had missing values in every column, necessitating the use of imputation techniques to fill in these gaps and ensure sufficient data for accurate analysis. 
- Imputation involved systematically replacing the missing values in each column with estimated or substituted values using simple imputer, ultimately creating a complete dataset suitable for further analysis.

In [ ]:
def replace_nan(df):
    # Find categorical and numerical columns
    categorical_cols = df.select_dtypes(include='object').columns
    numerical_cols = df.select_dtypes(include=np.number).columns
    date_cols = ['Order Time', 'Order Date', 'Delivery Date_x']
# Replace NaT values with NaN
    df = df.replace(pd.NaT, np.nan)

# Impute missing values with mode for categorical variables
    categorical_imputer = SimpleImputer(strategy='most_frequent')
    df[categorical_cols] = categorical_imputer.fit_transform(df[categorical_cols])
# Replace missing values in date columns with most frequent date
    for col in date_cols:
        most_frequent_date = df[col].mode().values[0]
        df[col].fillna(most_frequent_date, inplace=True)
        # Impute missing values with median for numerical variables
        numerical_imputer = SimpleImputer(strategy='most_frequent')
    df[numerical_cols] = numerical_imputer.fit_transform(df[numerical_cols])

    return df

In [ ]:
#Runing the function to transform the data
transformed_data =replace_nan(df)

In [ ]:
#Making sure the data has been transformed
transformed_data

# **Creating the pipeline**

In [ ]:
#Validation Split
X= transformed_data.drop(columns = 'Product Total')
y = transformed_data['Product Total']

In [ ]:
#Train, Test, Split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
#Function for pipeline creation
def create_preprocessing_pipeline(X_train, numeric_cols, categorical_cols):

#Scaler
    scaler = StandardScaler()

# Numeric pipeline
    numeric_pipe = make_pipeline(scaler)
    numeric_pipe

#OneHotEncoder
    ohe =OneHotEncoder(handle_unknown='ignore', sparse=False)

# Create the numeric and categorical pipeline
    numeric_pipe = make_pipeline(scaler)
    categorical_pipe = make_pipeline(ohe)

# Create column selectors
    num_cols_idx = np.isin(X_train.columns, numeric_cols)
    cat_cols_idx = np.isin(X_train.columns, categorical_cols)
    
# Create tuples for preprocessing the categorical and numeric columns
    num_tuple = (numeric_pipe, num_cols_idx)
    cat_tuple = (categorical_pipe, cat_cols_idx)
    
# Create the Column Transformer
    preprocessor = make_column_transformer(num_tuple, cat_tuple, remainder='passthrough')

# Fit the transformer
    preprocessor.fit(X_train)
    
    return preprocessor

In [ ]:
#Defining columns 
numeric_cols = ['Product Total', 'Grand Total']
categorical_cols = ['Transaction Type', 'Order Type']

In [ ]:
#Preprocessor creation
preprocessor = create_preprocessing_pipeline(X_train, numeric_cols, categorical_cols)

In [ ]:
#Transforming x-train
X_train_preprocessed = preprocessor.transform(X_train)

In [ ]:
#simplifying transformed data name
cd = transformed_data

In [ ]:
#This shows us that there are rows in the data that are not sales, so we want to delete them.
cd['Transaction Type'].value_counts()

In [ ]:
#Function to extract only sales 

def remove_adjustment_refund_rows(data):
    # Filter out rows with 'Adjustment' and 'Refund' transaction types
    filtered_data = cd[cd['Transaction Type'].isin(['Sale'])]
    
    return filtered_data

# Example usage:
filtered_data = remove_adjustment_refund_rows(transformed_data)
fd = filtered_data

In [ ]:
#Checking there are only sales rows in the data
fd['Transaction Type'].value_counts()

## **Data Exploration**

This section looks into exploring irregularities within the data and how I assess them.

### **Sender/Recipient - Customer Name/Recipient Name?**

In [ ]:
fd['Occasion'].value_counts()

In [ ]:
fd.info()

### **Payment Method**

In [ ]:
fd['Payment Method_x'].value_counts()

### **Order method, type & source**

In [ ]:
#Compare to order source to verify there are no duplicates 
fd['Order Method'].value_counts()

In [ ]:
#Compare to order method to verify there are no duplicates 
fd['Order Source'].value_counts()

In [ ]:
# Identify what the difference is in these last three columns ^^^
fd['Order Type'].value_counts()

### **Delivery Date**

In [ ]:
fd['Delivery Date_x'].value_counts()

### **Delivery Street**

In [ ]:
# Looking further into the sales data for locating the most popular delivery street.
#The shop is located on Hilsboro Road, so it makes sense that its the most popular delivery street.
fd['Delivery Street'].value_counts()

### **Non-taxable Delivery Compaired to Delivery Zip/Street**

In [ ]:
#Figure out what the amounts represent
fd['Nontaxable Delivery'].value_counts()

### **Product Name**

In [ ]:
#This will help to identify the most frequently ordered products
fd['Product Name'].value_counts()

In [ ]:
#Identifying duplicates
duplicates = fd.duplicated(keep='first') 
num_duplicates = duplicates.sum()
print('Number of duplicate rows:', num_duplicates)

#Print the duplicated rows
duplicate_rows = fd[duplicates]
print('Duplicate rows:')
print(duplicate_rows)

#Drop the identified duplicate rows
fd = fd.drop_duplicates(keep='first')

In [ ]:
#Confiriming there are no duplicates remaining
duplicates = fd.duplicated(keep='first') 
num_duplicates = duplicates.sum()
print('Number of duplicate rows:', num_duplicates)
duplicate_rows = fd[duplicates]
print('Duplicate rows:')
print(duplicate_rows)

In [ ]:
#Looking at overview of data
fd.info()

### **Zip**

In [ ]:
#This column should be changed in the future to whatever method used for geospatial viz
# Looking at the delivery zip for insight about what are the most popular zip codes for the shop
# We know from this that 37064 is by very far the most popular zipcode for obvious reasons
# We now want to look at other surrounding zip codes that may be in close competition
#Then visualize the comparison of the results for futher analysis
fd['Delivery Zip'].value_counts()

## **Visualizations**

- From the above print out we see there are two significantly more popular zip codes compared to the rest of the data. 37064 & 37069 (47,558 & 1403 respectively). 
- I'm choosing to visualize the other zip codes except these two, and zip codes with less than five occurrences as they contribute little insight to exploring the most popular surrounding zip codes.

In [ ]:
# Count the occurrences of each zip code
zip_code_counts = fd['Delivery Zip'].value_counts()

# Get the zip codes with less than five occurrences
zip_codes_to_remove = zip_code_counts[(zip_code_counts < 5) | (zip_code_counts > 30000)].index# Set the style and color palette
# Filter the DataFrame to exclude zip codes with less than five occurrences
filtered_zip_data = fd[~fd['Delivery Zip'].isin(zip_codes_to_remove)]
sns.set_style('whitegrid')
sns.set_palette('Set2')

# Create a larger figure size
plt.figure(figsize=(10, 6))
# Plot the data
ax = filtered_zip_data['Delivery Zip'].value_counts().plot(kind='bar')
# Customize the plot
ax.set_title('Zip Code Occurrences', fontsize=16)
ax.set_xlabel('Zip Code', fontsize=12)
ax.set_ylabel('Count', fontsize=12)
ax.tick_params(axis='x', labelrotation=45)
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)
# Add labels to the bars
for p in ax.patches:
    ax.annotate(str(p.get_height()), (p.get_x() + p.get_width() / 2., p.get_height()), ha='center', va='center',
                xytext=(0, 5), textcoords='offset points', fontsize=10)
# Save the plot as an image file
plt.savefig('zip_code_occurrences.png', bbox_inches='tight')

In [ ]:
# Create barplot
plt.bar(fd['Payment Method_x'], fd['Product Total'])

# Set plot labels and title
plt.xlabel('Payment Method')
plt.ylabel('Product Total')
plt.xticks(rotation=45, fontsize = 9, fontweight = 'heavy', ha = 'right');
plt.title('Payment Methods')

# Show the plot
plt.show()

In [ ]:
# Create barplot
plt.bar(fd['Occasion'], fd['Product Total'])

# Set plot labels and title
plt.xlabel('Occasion')
plt.ylabel('Product Total')
plt.xticks(rotation=45, fontsize = 9, fontweight = 'heavy', ha = 'right');
plt.title('Floral Occasion Breakdown')

# Show the plot
plt.show()

In [ ]:
fd['Occasion'].value_counts()

In [ ]:
# Create barplot of order methods
plt.bar(fd['Order Method'], fd['Product Total'])

# Set plot labels and title
plt.xlabel('Order Method')
plt.ylabel('Product Total')
plt.xticks(rotation=35, fontsize = 12, fontweight = 'normal', ha = 'right');
plt.title('Floral Order Type')

# Show the plot
plt.show()

In [ ]:
#Saving the new dataframe to upload in the next notebook
fd.to_csv('fd', index=False)